.time-table-row-assignment-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    border: blue solid 2px;
    border-radius: 8px;
    z-index: 10;
    height: 50px;
    background-color: #c7c6c6;
    box-sizing: border-box;
    opacity: 0.9;
}

.canceled {
    color: #ffb700;
    font-size: 36px;
}
