.wrapper {
  display: grid;
  grid-template-columns: 200px repeat(calc((60/var(--grid-cell-step))*24), minmax(var(--grid-cell-minsize), 1fr));
  grid-template-rows: repeat(1000, 50px);
}

/*.wrapper {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(var(--timetable-column), 1fr);*/
/*}*/

/*.wrapper {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(var(--timetable-column), 1fr);*/
/*  gap: 10px;*/
/*  grid-auto-rows: minmax(100px, auto);*/
/*}*/

/*.time-table-row-assignment-mark {*/
/*  border: blue solid thin;*/
/*  border-radius: 10px;*/
/*  z-index: 10;*/
/*  height: 50px;*/
/*  background-color: #c7c6c6;*/
/*  box-sizing: border-box;*/
/*  opacity: 0.9;*/
/*}*/

.time-table-row-title {
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.time-cell {
  border-top: #afbbc7 solid thin;
  border-bottom: #afbbc7 solid thin;
  border-left: #afbbc7 solid thin;
  z-index: 1;
  height: 50px;
  box-sizing: border-box;
}

.time-cell:last-child {
  border: #afbbc7 solid thin;
  z-index: 1;
  height: 50px;
}

.scale-title-row-cell {
  font-size: 12px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}
