<div class="schedule-table">
    <ng-container
            *ngTemplateOutlet="scaleTitleRow;context:{row: 1}">
    </ng-container>

    <ng-container *ngFor="let section of dataProvider.getSections(); let sectionIndex = index;">
        <!--    <ng-container *ngTemplateOutlet="timeTableRowTitle;context:{title:section.name}"></ng-container>-->
        <ng-container *ngFor="let assignment of getSectionAssignment(section.id); let assignmentIndex = index;">
            <ng-container
                    *ngTemplateOutlet="timeTableRow;context:{row: getAssignmentRow(sectionIndex, assignmentIndex),
                    sectionId:section.id, assignmentId: assignment.id}">
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-template #dynamic></ng-template>

    <ng-content></ng-content>

</div>

<ng-template #scaleTitleRow let-row="row">
    <div *ngFor="let timeCell of times; let i = index;" class="time-cell"
         [ngClass]="{'current-hour':isCurrentHour(timeCell)}"
         [style.grid-row-start]="row"
         [style.grid-row-end]="row"
         [style.grid-column-start]="i * dataProvider.stepCells + 2"
         [style.grid-column-end]="(i + 1) * dataProvider.stepCells + 2"
    >
        <span class="scale-title-row-cell">{{getScaleTitleRowName(i * dataProvider.stepCells)}}</span>
    </div>
</ng-template>

<ng-template #timeTableRow let-row="row" let-sectionId="sectionId" let-assignmentId="assignmentId">
    <div *ngFor="let timeCell of times; let i = index;" class="time-cell"
         [ngClass]="{'current-hour':isCurrentHour(timeCell)}"
         (click)="clickTimeCell($event, sectionId,
                    assignmentId,
                    i * dataProvider.stepCells)"
         [style.grid-row-start]="row"
         [style.grid-row-end]="row"
         [style.grid-column-start]="i * dataProvider.stepCells + 2"
         [style.grid-column-end]="(i + 1) * dataProvider.stepCells + 2"
    >
        <!--    <span style="font-size: 8px">{{i + 1}}</span>-->
    </div>
</ng-template>
